KinhMat_Client/Connected Services/ServiceReference_khachHang/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DGV_KH">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DGV_KHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DGV_KHResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenkh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sdt" type="xs:int" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_KH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idkh" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_KHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delete_KHResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_idKH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenkh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_idKHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_idKHResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_KH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyKH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_KHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search_KHResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>