KinhMat_Client/Connected Services/ServiceReference_khachHang/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_KhachHang" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_KhachHang_DGV_KH_InputMessage">
    <wsdl:part name="parameters" element="tns:DGV_KH" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_DGV_KH_OutputMessage">
    <wsdl:part name="parameters" element="tns:DGV_KHResponse" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_insert_InputMessage">
    <wsdl:part name="parameters" element="tns:insert" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertResponse" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_delete_KH_InputMessage">
    <wsdl:part name="parameters" element="tns:delete_KH" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_delete_KH_OutputMessage">
    <wsdl:part name="parameters" element="tns:delete_KHResponse" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_get_idKH_InputMessage">
    <wsdl:part name="parameters" element="tns:get_idKH" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_get_idKH_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_idKHResponse" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_search_KH_InputMessage">
    <wsdl:part name="parameters" element="tns:search_KH" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_search_KH_OutputMessage">
    <wsdl:part name="parameters" element="tns:search_KHResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_KhachHang">
    <wsdl:operation name="DGV_KH">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_KhachHang/DGV_KH" message="tns:IService_KhachHang_DGV_KH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_KhachHang/DGV_KHResponse" message="tns:IService_KhachHang_DGV_KH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_KhachHang/insert" message="tns:IService_KhachHang_insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_KhachHang/insertResponse" message="tns:IService_KhachHang_insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete_KH">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_KhachHang/delete_KH" message="tns:IService_KhachHang_delete_KH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_KhachHang/delete_KHResponse" message="tns:IService_KhachHang_delete_KH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_idKH">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_KhachHang/get_idKH" message="tns:IService_KhachHang_get_idKH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_KhachHang/get_idKHResponse" message="tns:IService_KhachHang_get_idKH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="search_KH">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_KhachHang/search_KH" message="tns:IService_KhachHang_search_KH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_KhachHang/search_KHResponse" message="tns:IService_KhachHang_search_KH_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_KhachHang" type="tns:IService_KhachHang">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DGV_KH">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/DGV_KH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_KH">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/delete_KH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_idKH">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/get_idKH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_KH">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/search_KH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_KhachHang">
    <wsdl:port name="BasicHttpBinding_IService_KhachHang" binding="tns:BasicHttpBinding_IService_KhachHang">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_KhachHang/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>