KinhMat_Client/Connected Services/ServiceReference_sanPham/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Insert_NhapHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tensp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maloai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gianhap" type="xs:int" />
        <xs:element minOccurs="0" name="giaban" type="xs:int" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_NhapHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_NhapHangResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edit_NhapHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tensp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maloai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gianhap" type="xs:int" />
        <xs:element minOccurs="0" name="giaban" type="xs:int" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edit_NhapHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="edit_NhapHangResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="del_NhapHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idsp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="del_NhapHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="del_NhapHangResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DGV_NhapHang">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DGV_NhapHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DGV_NhapHangResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_NhapHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keysp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_NhapHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Search_NhapHangResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_SoLuongHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idsp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_SoLuongHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_SoLuongHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_SoLuongHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idsp" type="xs:int" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_SoLuongHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="update_SoLuongHangResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_IDHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tensp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_IDHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_IDHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_DonGiaHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tensp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_DonGiaHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_DonGiaHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_GiaNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tensp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_GiaNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_GiaNhapResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Count">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_CountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_CountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_tenSP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_tenSPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_tenSPResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_maLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idsp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_maLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_maLoaiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>