KinhMat_Client/Connected Services/ServiceReference_loaiHang/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_loaihang" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_loaihang_Insert_LoaiHang_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_LoaiHang" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_Insert_LoaiHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_LoaiHangResponse" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_editLoaiHang_InputMessage">
    <wsdl:part name="parameters" element="tns:editLoaiHang" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_editLoaiHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:editLoaiHangResponse" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_delLoaiHang_InputMessage">
    <wsdl:part name="parameters" element="tns:delLoaiHang" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_delLoaiHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:delLoaiHangResponse" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_DGV_LoaiHang_InputMessage">
    <wsdl:part name="parameters" element="tns:DGV_LoaiHang" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_DGV_LoaiHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:DGV_LoaiHangResponse" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_Search_loaiHang_InputMessage">
    <wsdl:part name="parameters" element="tns:Search_loaiHang" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_Search_loaiHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:Search_loaiHangResponse" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_get_loaiHang_InputMessage">
    <wsdl:part name="parameters" element="tns:get_loaiHang" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_get_loaiHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_loaiHangResponse" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_get_maLoai_InputMessage">
    <wsdl:part name="parameters" element="tns:get_maLoai" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_get_maLoai_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_maLoaiResponse" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_get_tenLoai_InputMessage">
    <wsdl:part name="parameters" element="tns:get_tenLoai" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_get_tenLoai_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_tenLoaiResponse" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_tenloai_InputMessage">
    <wsdl:part name="parameters" element="tns:tenloai" />
  </wsdl:message>
  <wsdl:message name="IService_loaihang_tenloai_OutputMessage">
    <wsdl:part name="parameters" element="tns:tenloaiResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_loaihang">
    <wsdl:operation name="Insert_LoaiHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_loaihang/Insert_LoaiHang" message="tns:IService_loaihang_Insert_LoaiHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_loaihang/Insert_LoaiHangResponse" message="tns:IService_loaihang_Insert_LoaiHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editLoaiHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_loaihang/editLoaiHang" message="tns:IService_loaihang_editLoaiHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_loaihang/editLoaiHangResponse" message="tns:IService_loaihang_editLoaiHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delLoaiHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_loaihang/delLoaiHang" message="tns:IService_loaihang_delLoaiHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_loaihang/delLoaiHangResponse" message="tns:IService_loaihang_delLoaiHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DGV_LoaiHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_loaihang/DGV_LoaiHang" message="tns:IService_loaihang_DGV_LoaiHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_loaihang/DGV_LoaiHangResponse" message="tns:IService_loaihang_DGV_LoaiHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search_loaiHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_loaihang/Search_loaiHang" message="tns:IService_loaihang_Search_loaiHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_loaihang/Search_loaiHangResponse" message="tns:IService_loaihang_Search_loaiHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_loaiHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_loaihang/get_loaiHang" message="tns:IService_loaihang_get_loaiHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_loaihang/get_loaiHangResponse" message="tns:IService_loaihang_get_loaiHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_maLoai">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_loaihang/get_maLoai" message="tns:IService_loaihang_get_maLoai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_loaihang/get_maLoaiResponse" message="tns:IService_loaihang_get_maLoai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_tenLoai">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_loaihang/get_tenLoai" message="tns:IService_loaihang_get_tenLoai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_loaihang/get_tenLoaiResponse" message="tns:IService_loaihang_get_tenLoai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="tenloai">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_loaihang/tenloai" message="tns:IService_loaihang_tenloai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_loaihang/tenloaiResponse" message="tns:IService_loaihang_tenloai_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_loaihang" type="tns:IService_loaihang">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert_LoaiHang">
      <soap:operation soapAction="http://tempuri.org/IService_loaihang/Insert_LoaiHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editLoaiHang">
      <soap:operation soapAction="http://tempuri.org/IService_loaihang/editLoaiHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delLoaiHang">
      <soap:operation soapAction="http://tempuri.org/IService_loaihang/delLoaiHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DGV_LoaiHang">
      <soap:operation soapAction="http://tempuri.org/IService_loaihang/DGV_LoaiHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search_loaiHang">
      <soap:operation soapAction="http://tempuri.org/IService_loaihang/Search_loaiHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_loaiHang">
      <soap:operation soapAction="http://tempuri.org/IService_loaihang/get_loaiHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_maLoai">
      <soap:operation soapAction="http://tempuri.org/IService_loaihang/get_maLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_tenLoai">
      <soap:operation soapAction="http://tempuri.org/IService_loaihang/get_tenLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tenloai">
      <soap:operation soapAction="http://tempuri.org/IService_loaihang/tenloai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_loaihang">
    <wsdl:port name="BasicHttpBinding_IService_loaihang" binding="tns:BasicHttpBinding_IService_loaihang">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_loaihang/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>