KinhMat_Client/Connected Services/ServiceReference_hoaDon/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_HoaDon" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_HoaDon_DGV_HoaDon_InputMessage">
    <wsdl:part name="parameters" element="tns:DGV_HoaDon" />
  </wsdl:message>
  <wsdl:message name="IService_HoaDon_DGV_HoaDon_OutputMessage">
    <wsdl:part name="parameters" element="tns:DGV_HoaDonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_HoaDon_insert_hoaDon_InputMessage">
    <wsdl:part name="parameters" element="tns:insert_hoaDon" />
  </wsdl:message>
  <wsdl:message name="IService_HoaDon_insert_hoaDon_OutputMessage">
    <wsdl:part name="parameters" element="tns:insert_hoaDonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_HoaDon_del_hoaDon_InputMessage">
    <wsdl:part name="parameters" element="tns:del_hoaDon" />
  </wsdl:message>
  <wsdl:message name="IService_HoaDon_del_hoaDon_OutputMessage">
    <wsdl:part name="parameters" element="tns:del_hoaDonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_HoaDon_get_idHD_InputMessage">
    <wsdl:part name="parameters" element="tns:get_idHD" />
  </wsdl:message>
  <wsdl:message name="IService_HoaDon_get_idHD_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_idHDResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_HoaDon">
    <wsdl:operation name="DGV_HoaDon">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_HoaDon/DGV_HoaDon" message="tns:IService_HoaDon_DGV_HoaDon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_HoaDon/DGV_HoaDonResponse" message="tns:IService_HoaDon_DGV_HoaDon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insert_hoaDon">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_HoaDon/insert_hoaDon" message="tns:IService_HoaDon_insert_hoaDon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_HoaDon/insert_hoaDonResponse" message="tns:IService_HoaDon_insert_hoaDon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="del_hoaDon">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_HoaDon/del_hoaDon" message="tns:IService_HoaDon_del_hoaDon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_HoaDon/del_hoaDonResponse" message="tns:IService_HoaDon_del_hoaDon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_idHD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_HoaDon/get_idHD" message="tns:IService_HoaDon_get_idHD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_HoaDon/get_idHDResponse" message="tns:IService_HoaDon_get_idHD_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_HoaDon" type="tns:IService_HoaDon">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DGV_HoaDon">
      <soap:operation soapAction="http://tempuri.org/IService_HoaDon/DGV_HoaDon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_hoaDon">
      <soap:operation soapAction="http://tempuri.org/IService_HoaDon/insert_hoaDon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="del_hoaDon">
      <soap:operation soapAction="http://tempuri.org/IService_HoaDon/del_hoaDon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_idHD">
      <soap:operation soapAction="http://tempuri.org/IService_HoaDon/get_idHD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_HoaDon">
    <wsdl:port name="BasicHttpBinding_IService_HoaDon" binding="tns:BasicHttpBinding_IService_HoaDon">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_HoaDon/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>